.aboutContainer {
  text-align: center;
  background-image: url(../../images/backgrounds/bike.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  animation: fadeIn .5s;
  -webkit-animation: fadeIn .5s;
  -moz-animation: fadeIn .5s;
  -o-animation: fadeIn .5s;
  -ms-animation: fadeIn .5s;

  .aboutSubContainer {
    position: absolute;
    top: 42vh;
    right: 5vw;
    transform: translateY(-50%);
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;

    .aboutInfoContainer {
      height: fit-content;
      width: 40vw; 
      text-align: left;
      border-radius: 15px;
      font-size: 1.5rem;
      background-color: rgb(0,0,0,.6);
      color: white;
      padding: 1rem;
      animation: fadeIn 2s;
      -webkit-animation: fadeIn 2s;
      -moz-animation: fadeIn 2s;
      -o-animation: fadeIn 2s;
      -ms-animation: fadeIn 2s;
    }
  
    .aboutReadMoreContainer {
      margin: .5rem auto;
      padding: 1rem;
      width: 85%;
      height: fit-content;
      text-align: left;
      border-radius: 15px;
      margin: 0 auto;
      background-color: rgb(0,0,0,.6);
      color: white;
      font-size: 1.5rem;
      animation: fadeIn 2s;
      -webkit-animation: fadeIn 2s;
      -moz-animation: fadeIn 2s;
      -o-animation: fadeIn 2s;
      -ms-animation: fadeIn 2s;
    }
  
    .aboutReadMoreButtonContainer {
      height: 3rem;
      width: 85%;
      padding: 3px;    
      }
  
    .aboutReadMoreButton {
      // position: absolute;
      // right: 0;
      bottom: .75rem;
      background-color: grey;
      color: black;
      padding: 3px;
      border-radius: 5px;
      }
  

  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

//  LANDSCAPE
@media screen and (orientation: landscape)  {
  @media screen and (max-width: 1300px) {
    .aboutContainer {
      .aboutInfoContainer {      
        h5 {
          font-size: 1.2rem;
        }
        p {
          font-size: .9rem;
        }
      }
    }    
  }
  
  @media screen and (max-width: 1200px ) {
    .aboutContainer {
      .aboutInfoContainer {      
        h5 {
          font-size: 1.2rem;
        }
        p {
          font-size: .9rem;
        }
      }
    }    
  }
  
  @media screen and (max-width: 900px) {
    .aboutContainer {
      .aboutInfoContainer {
        height: 10rem;
  
        br {
          display: none;
        }
        .aboutInfoText {
          height: 100%;
          margin-bottom: 5px;
          overflow: scroll;
        }
      }
    }  
  } 
  
  @media screen and (max-height: 430px) {
    .aboutContainer {
      .aboutInfoContainer {
        width: 50vw !important;
        padding: 5px !important;
  
        br {
          display: none;
        }
        .aboutInfoText {
          height: 100%;
          margin-bottom: 5px;
          overflow: scroll;
          padding: .5rem;
        }
      }
    }  
  } 
}


//  PORTRAIT
@media screen and (orientation: portrait) {
  @media screen and (max-width: 700px){
    .aboutContainer {
      .aboutSubContainer {
        top: 42vh;
        right: unset;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        
        .aboutInfoContainer {
          width: unset;
          height: fit-content;
    
          br {
            display: none;
          }
        }
        .aboutReadMoreContainer {
          margin: unset;
          width: unset;
          height: fit-content;
        }
      }
    }
  }
}