@import '../../styles/main.scss';

.hobbiesModalCard {
  background-color: $black-opacity-darkest;
  width: 90vw;
  height: $height-full;
  overflow: unset;

  .hobbiesModalCardHero{
    display: block;
    width: unset;
    margin: auto;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    -webkit-background-position: center;
    background-repeat: no-repeat;
  }
  
  .hobbiesModalContent {
    background-color: $black-opacity-darkest;
    color: $white;
    position: relative;
    width: 90vw;
    overflow: scroll;
    height: 20vh;
  }
}

.aboutContainer {
  @include hero-background('../../images/backgrounds/bike.jpg');
  @include fade-in($transition-fast);

  .aboutSubContainer {
    position: absolute;
    top: 42vh;
    right: $screen-margin;
    transform: translateY(-50%);
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;

    .aboutInfoContainer {
      height: fit-content;
      width: 40vw; 
      text-align: left;
      border-radius: $radius-large;
      font-size: $font-xl;
      background-color: $black-opacity-medium;
      color: $white;
      padding: $space-6;
      @include fade-in($transition-slow);
    }
  
    .aboutReadMoreContainer {
      margin: .5rem auto;
      padding: $space-6;
      width: 85%;
      height: fit-content;
      text-align: left;
      border-radius: $radius-large;
      margin: 0 auto;
      background-color: $black-opacity-light;
      color: $white;
      font-size: $font-xl;
      @include fade-in($transition-slow);
    }
  
    .aboutReadMoreButtonContainer {
      height: 3rem;
      width: 85%;
      padding: $space-2;    
      }
  
    .aboutReadMoreButton {
      bottom: $space-5;
      background-color: $grey;
      color: $black;
      padding: $space-2;
      border-radius: $radius-small;
      }
  }
}

//  LANDSCAPE
@media screen and (orientation: landscape)  {
  @media screen and (max-width: 1300px) {
    .aboutContainer {
      .aboutInfoContainer {      
        h5 {
          font-size: $font-lg;
        }
        p {
          font-size: .9rem;
        }
      }
    }    
  }
  
  @media screen and (max-width: 1200px ) {
    .aboutContainer {
      .aboutInfoContainer {      
        h5 {
          font-size: $font-lg;
        }
        p {
          font-size: .9rem;
        }
      }
    }    
  }
  
  @media screen and (max-width: 900px) {
    .aboutContainer {
      .aboutInfoContainer {
        height: 10rem;
  
        br {
          display: none;
        }
        .aboutInfoText {
          height: $height-full;
          margin-bottom: $space-3;
          overflow: scroll;
        }
      }
    }  
  } 

  @media screen and (max-height: 600px){
    .aboutContainer {
      .aboutSubContainer {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        top: 30%;
        right: unset;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 25vh;
        width: 90vw;
        padding: $space-3;
      }
      .aboutInfoContainer {
        .aboutInfoText {
          height: 24vh;
          overflow: scroll;
        }
      }
    } 
  }
  
  @media screen and (max-height: 430px) {
    .aboutContainer {
      .aboutSubContainer {
        .aboutInfoContainer {
          width: 45vw;
          height: 28vh;
          padding: $space-3;
          margin-right: $screen-margin;
    
          br {
            display: none;
          }
               
          h5 {
            font-size: $font-md;
            margin-bottom: $space-6;
          }
          p {
            font-size: $font-sm;
          }

          .aboutInfoText {
            height: 24vh;
            padding: $space-4;
          }
        }
      }
    }  
  } 
}


//  PORTRAIT
@media screen and (orientation: portrait) {
  .hobbiesModalCard {
    width: $width-full;
    height: $height-full;
  
    .hobbiesModalCardHero{
      width: $width-full !important;
      height: 20vh !important;
    }
    
    .hobbiesModalContent {
      margin-top: $space-6;
      width: $width-full;
      height: 70vh;
    }
  }
  @media screen and (max-width: 700px){
    .aboutContainer {
      .aboutSubContainer {
        top: 42vh;
        right: unset;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        
        .aboutInfoContainer {
          width: unset;
          height: fit-content;
    
          br {
            display: none;
          }
        }
        .aboutReadMoreContainer {
          margin: unset;
          width: unset;
          height: fit-content;
        }
      }
    }
  }
}