.hobbiesAccordianContainer {
  width: 40vw;
  margin-top: 5vh;
  padding: 1rem;
  background-color: rgb(0,0,0,.6);
  border-radius: 15px;
  z-index: 50;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;

  .HobbiesAccordianItem {
    background-color: rgb(0, 0, 0, .01);
    text-align: left;

    .hobbiesCard {
      background-color: rgb(0, 0, 0, .01);
      text-align: left;
    }
    
    .accordianItemContent {
      height: 10vh;
      overflow-y: scroll;
    }
  }

  .HobbiesAccordianItem:first-of-type {
    background-color: rgb(0, 0, 0, .01);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  .HobbiesAccordianItem:last-of-type {
    background-color: rgb(0, 0, 0, .01);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  div > * {
    color: white;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

//  LANDSCAPE
@media screen and (orientation: landscape) {  
  @media screen and (max-width: 1300px) {
    .hobbiesAccordianContainer {
      .HobbiesAccordianItem {   
        .hobbiesCard > [role = "img"] {
          height: 27vh;
        }   
        .accordianItemContent {
          height: 15vh;
          p {
            font-size: .8rem;}
        }
      }
    }     
  }

  @media screen and (max-height: 650px) {    
      .HobbiesAccordianItem > [role = "button"] {  
        min-height: unset;
        height: 2rem;
      }      
    }  
    
    @media screen and (max-width: 600px) {
      .hobbiesAccordianContainer {
        width: 90%;
        z-index: 50;
    
        .HobbiesAccordianItem {      
          .accordianItemContent {
            height: 8rem;
          }
        }
      }  
    }

    @media screen and (max-height: 600px){
      .hobbiesAccordianContainer {
        width: 40vw;
        padding: 5px;
        margin: 0;
  
        .HobbiesAccordianItem {   
          height: fit-content;
          .hobbiesCard > [role = "img"] {
            height: 30vh;
          }   
          [role = "button"]  {
            min-height: unset;
            height: 7vh;
          }
          .accordianItemContent {
            height: 10vh;
            p {
              font-size: .8rem;}
          }
        }
      } 

    }
    
    @media screen and (max-height: 430px) {
      .hobbiesAccordianContainer {
        width: 45vw;
        padding: 5px;
  
        .HobbiesAccordianItem {   
          height: fit-content;
          .hobbiesCard > [role = "img"] {
            height: 30vh;
          }   
          [role = "button"]  {
            min-height: unset;
            height: 7vh;
          }
          .accordianItemContent {
            height: 10vh;
            p {
              font-size: .8rem;}
          }
        }
      }  
    }
  }
  
//  PORTRAIT
@media screen and (orientation: portrait) {      
  @media screen and (max-width: 700px) {
    .hobbiesAccordianContainer {
      width: unset;
      z-index: 50;
  
      .HobbiesAccordianItem {  
        .hobbiesCard > [role = "img"] {
          height: 20vh;
        }   
        [role = "button"]  {
          min-height: unset;
          height: 5vh;
        }    
        .accordianItemContent {
          height: 8rem;
        }
      }
    }  
  }
}