@import '../../styles/main.scss';

.contactContainer {
  @include hero-background('../../images/backgrounds/river.jpg');
  @include fade-in($transition-fast);

  .linksContainer {
    position: absolute;
    top: 50%;
    right: $space-7;
    transform: translateY(-50%);
    width: 5rem;
    @include flex-column-center;
    a {
      padding: $space-6;
    }
    img {
      width: 3rem;
      height: 3rem;
    }
  }
}

// LANDSCAPE
@media screen and (orientation: landscape) {
  @media screen and (max-height: 430px) {
    .contactContainer {  
      .linksContainer {
        top: 40%;
        right: $space-6;
        width: 5rem;
  
        img {
          width: 3rem;
          height: 3rem;
          padding: $space-0;
          margin: $space-0;
        }
    
        a {
          width: 3rem;
          height: 3rem;
          margin: $space-0;
        }
      }
    }
  }
}

// PORTRAIT
@media screen and (orientation: portrait) {
    @media screen and (max-width: 900px) {
    .contactContainer {  
      .linksContainer {
        flex-direction: row;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        bottom: $space-8;
        width: 10rem;
        justify-content: center;
    
        img {
          width: 3rem;
          height: 3rem;
          padding: $space-0;
          margin: $space-0;
        }
    
        a {
          width: 3rem;
          height: 3rem;
          margin: $space-0;
        }
      }
    }
  }
}



