.contactContainer {
  text-align: center;
  background-image: url(../../images/backgrounds/river.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  animation: fadeIn .5s;
  -webkit-animation: fadeIn .5s;
  -moz-animation: fadeIn .5s;
  -o-animation: fadeIn .5s;
  -ms-animation: fadeIn .5s;

  .linksContainer {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      padding: 1rem;
    }
    img {
      width: 3rem;
      height: 3rem;
    }
  }
}

// LANDSCAPE
@media screen and (orientation: landscape) {
  @media screen and (max-height: 430px) {
    .contactContainer {  
      .linksContainer {
        top: 40%;
        right: 1rem;
        width: 5rem;
  
        img {
          width: 3rem;
          height: 3rem;
          padding: 0;
          margin: 0;
        }
    
        a {
          width: 3rem;
          height: 3rem;
          margin: 0;
        }
      }
    }
  }
}

// PORTRAIT
@media screen and (orientation: portrait) {
    @media screen and (max-width: 900px) {
    .contactContainer {  
      .linksContainer {
        flex-direction: row;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5rem;
        width: 10rem;
        justify-content: center;
    
        img {
          width: 3rem;
          height: 3rem;
          padding: 0;
          margin: 0;
        }
    
        a {
          width: 3rem;
          height: 3rem;
          margin: 0;
        }
      }
    }
  }
}



