@import '../../styles/main.scss';

.homeContainer {
  @include hero-background('../../images/backgrounds/path.jpg');
  @include fade-in($transition-fast);
  @include scrollbar;

  .homeInfoModal {
    @include flex-column-center;
    position: absolute;
    height: fit-content;
    width: 70vw;
    top: 45%;
    right: $screen-margin;
    transform: translateY(-50%);
    text-align: left;
    border-radius: $radius-large;
    margin: 0 auto;
    font-size: $font-xl;
    background-color: $black-opacity-dark;
    color: $white;
    padding: $space-6;
    @include fade-in($transition-slow);

    .homeInfoDivider {
      border-bottom: 1px solid white;
      margin: 1rem 0;
    }

    .homeInfoBodyContainer {
      position: relative;
      display: flex;
      flex-direction: row;
      max-height: 50vh;

      .homeInfoBodyText {
        position: relative;
        width: 70%;
        margin-right: $space-7;
        overflow-y: scroll;

        .openHomeModal {
          position: absolute;
          right: $space-6;
        }
      }
      .profilePic {
        position: sticky;
        top: 0;
        background-image: url(../../images/pics/profile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 35vh;
        width: 20%;
        border-radius: $radius-large;
        filter: grayscale(100%)
      }
    }
  }
  
  .homeReadMoreContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    margin: .5rem auto;
    padding: $space-6;
    width: 85%;
    height: fit-content;
    text-align: left;
    border-radius: $radius-large;
    margin: 0 auto;
    background-color: $black-opacity-dark;
    color: $white;
    font-size: $font-xl;
    @include fade-in($transition-slow);
  }

  .homeReadMoreButtonContainer {
    position: absolute;
    bottom: 0;
    height: 5.5rem;
    width: 85%;
    padding: $space-2;    
    }

  .homeReadMoreButton {
    position: absolute;
    right: $space-0;
    bottom: $space-5;
    background-color: $grey;
    color: $black;
    padding: $space-2;
    border-radius: $radius-small;
    }
}

// LANDSCAPE
@media screen and (orientation: landscape) {
  @media screen and (max-width: 1200px) {
    .homeContainer {    
      .homeInfoModal {
        height: 70vh;
        width: 75vw;
        top: 50%;
        right: unset;
        left: 50%;
        transform: translate(-50%, -50%);

        .homeInfoContainer {
          height: 31vh;
          position: absolute;
          top: 5px;

          .homeInfoBodyContainer {
            .homeInfoBodyText {
              height: 32vh;
              width: 80%;
            }
            .profilePic {
              height: 32vh;
            }  
          }
        }
      }
    }    
  }

  @media screen and (max-height: 600px) {
    .homeContainer {    
      .homeInfoModal {        
        h4 {
          font-size: $font-xl;
        }

        h5 {
          font-size: $font-lg;
        }

        p {
          font-size: $font-md;
        }
      }
      .openHomeModal {
       svg {
        font-size: $font-md;
       }
      }
    }    
  }

  @media screen and (max-height: 400px) {
    .homeContainer {    
      .homeInfoModal {   
        height: 64vh;
        .homeInfoDivider {
          margin: .5rem 0;
        }

        .titleLineBreak {
          display: none;
        }
        h4 {
          font-size: $font-xl;
        }

        h5 {
          font-size: $font-lg;
          line-height: unset;
          margin-bottom: $space-3;
        }

        p {
          font-size: $font-md;
        }
      }
    }    
  }
}

// PORTRAIT
@media screen and (orientation: portrait) {
  @media screen and (max-width: 900px) and (orientation: portrait) {
    .homeContainer {    
      .homeInfoModal {     
        width: 65%;
      }
    }    
  }

  @media screen and (max-width: 600px) {
    .homeContainer {    
      .homeInfoModal {
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        margin: .5rem auto;
        height: 85vh;
        width: $width-full;
        font-size: $font-xl;

        .homeInfoContainer{
          padding-left: $space-3;
          padding-right: $space-3;

          .homeInfoBodyContainer {
            max-height: 35vh;
            overflow: scroll;
      
            .homeInfoBodyText {
              width: 50%;
            }
            .profilePic {
              height: 30vh;
              width: 40%;
            }  
          }
        }
        .homeReadMoreButtonContainer {
          width: $width-full;
          height: 3rem;
          .homeReadMoreButton {
            margin-right: $space-8;
          }
        }
      }
    }    
  }
}



