.homeContainer {
  text-align: center;
  background-image: url(../../images/backgrounds/path.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  animation: fadeIn .5s;
  -webkit-animation: fadeIn .5s;
  -moz-animation: fadeIn .5s;
  -o-animation: fadeIn .5s;
  -ms-animation: fadeIn .5s;

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: white;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(0,0,0,.1);
  }

  .homeInfoModal {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: fit-content;
    width: 70vw;
    top: 45%;
    right: 5vw;
    transform: translateY(-50%);
    text-align: left;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: rgb(0,0,0,.6);
    color: white;
    padding: 1rem;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;

    .homeInfoDivider {
      border-bottom: 1px solid white;
      margin: 1rem 0;
    }

    .homeInfoBodyContainer {
      position: relative;
      display: flex;
      flex-direction: row;
      max-height: 50vh;

      .homeInfoBodyText {
        width: 70%;
        margin-right: 2rem;
        overflow-y: scroll;
      }

      .profilePic {
        position: sticky;
        top: 0;
        background-image: url(../../images/pics/profile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 35vh;
        width: 20%;
        border-radius: 15px;
        filter: grayscale(100%)
      }
    }
  }
  
  .homeReadMoreContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    margin: .5rem auto;
    padding: 1rem;
    width: 85%;
    height: fit-content;
    text-align: left;
    border-radius: 15px;
    margin: 0 auto;
    background-color: rgb(0,0,0,.6);
    color: white;
    font-size: 1.5rem;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }

  .homeReadMoreButtonContainer {
    position: absolute;
    bottom: 0;
    height: 5.5rem;
    width: 85%;
    padding: 3px;    
    }

  .homeReadMoreButton {
    position: absolute;
    right: 0;
    bottom: .75rem;
    background-color: grey;
    color: black;
    padding: 3px;
    border-radius: 5px;
    }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

// LANDSCAPE
@media screen and (orientation: landscape) {
  @media screen and (max-width: 1200px) {
    .homeContainer {    
      .homeInfoModal {
        height: 70vh;
        width: 75vw;

        .homeInfoContainer {
          height: 31vh;

          .homeInfoBodyContainer {
            .homeInfoBodyText {
              height: 32vh;
              width: 80%;
            }
            .profilePic {
              height: 32vh;
            }  
          }
        }
      }
    }    
  }

  @media screen and (max-height: 600px) {
    .homeContainer {    
      .homeInfoModal {        
        h4 {
          font-size: 1.5rem;
        }

        h5 {
          font-size: 1.2rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }    
  }

  @media screen and (max-height: 400px) {
    .homeContainer {    
      .homeInfoModal {   
        height: 64vh;
        .homeInfoDivider {
          margin: .5rem 0;
        }

        .titleLineBreak {
          display: none;
        }
        h4 {
          font-size: 1.5rem;
        }

        h5 {
          font-size: 1.2rem;
          line-height: unset;
          margin-bottom: 7px;
        }

        p {
          font-size: 1rem;
        }
      }
    }    
  }
}

// PORTRAIT
@media screen and (orientation: portrait) {
  @media screen and (max-width: 900px) and (orientation: portrait) {
    .homeContainer {    
      .homeInfoModal {     
        width: 65%;
      }
    }    
  }

  @media screen and (max-width: 600px) {
    .homeContainer {    
      .homeInfoModal {
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        margin: .5rem auto;
        height: 85vh;
        width: 100vw;
        font-size: 1.5rem;

        .homeInfoContainer{
          padding: 1rem;

          .homeInfoBodyContainer {
            max-height: 35vh;
            overflow: scroll;
      
            .homeInfoBodyText {
              width: 50%;
            }
            .profilePic {
              height: 30vh;
              width: 40%;
            }  
          }
        }
        .homeReadMoreButtonContainer {
          width: 100vw;
          height: 3rem;
          .homeReadMoreButton {
            margin-right: 2rem;
          }
        }
      }
    }    
  }
}



