@import '../../../../styles/main.scss';

.hobbiesAccordianContainer {
  width: 40vw;
  margin-top: 5vh;
  padding: $space-6;
  background-color: $black-opacity-medium;
  border-radius: $radius-large;
  z-index: 50;
  @include fade-in($transition-fast);
  @include scrollbar;

  .HobbiesAccordianItem {
    background-color: $black-opacity-light;
    text-align: left;

    .hobbiesCard {
      background-color: $black-opacity-dark;
      text-align: left;
    }
    
    .accordianItemContent {
      height: 10vh;
      overflow-y: scroll;
    }


    .openAboutModal {
      position: absolute;
      right: $space-7;
    }
  }

  .HobbiesAccordianItem:first-of-type {
    background-color: $black-opacity-light;
    border-top-right-radius: $radius-large;
    border-top-left-radius: $radius-large;
  }
  
  .HobbiesAccordianItem:last-of-type {
    background-color: $black-opacity-light;
    border-bottom-right-radius: $radius-large;
    border-bottom-left-radius: $radius-large;
  }

  div > * {
    color: $white;
  }
}

//  LANDSCAPE
@media screen and (orientation: landscape) {  
  @media screen and (max-width: 1300px) {
    .hobbiesAccordianContainer {
      .HobbiesAccordianItem {   
        .hobbiesCard > [role = "img"] {
          height: 27vh;
        }   
        .accordianItemContent {
          height: 15vh;
          p {
            font-size: $font-sm;}
        }
      }
    }     
  }

  @media screen and (max-height: 650px) {    
      .HobbiesAccordianItem > [role = "button"] {  
        min-height: unset;
        height: 2rem;
      }      
    }  
    
    @media screen and (max-width: 600px) {
      .hobbiesAccordianContainer {
        width: 90%;
        z-index: 50;
    
        .HobbiesAccordianItem {      
          .accordianItemContent {
            height: 8rem;
          }
        }
      }  
    }

    @media screen and (max-height: 600px){
      .hobbiesAccordianContainer {
        width: 40vw;
        padding: $space-3;
        margin:  $space-0;
  
        .HobbiesAccordianItem {   
          height: fit-content;
          .hobbiesCard > [role = "img"] {
            height: 30vh;
          }   
          [role = "button"]  {
            min-height: unset;
            height: 7vh;
          }
          .accordianItemContent {
            height: 10vh;
            p {
              font-size: $font-sm;}
          }
        }
      } 

    }
    
    @media screen and (max-height: 430px) {
      .hobbiesAccordianContainer {
        width: 45vw;
        padding: $space-3;
  
        .HobbiesAccordianItem {   
          height: fit-content;
          .hobbiesCard > [role = "img"] {
            height: 30vh;
          }   
          [role = "button"]  {
            min-height: unset;
            height: 7vh;
          }
          .accordianItemContent {
            height: 10vh;
            p {
              font-size: $font-sm;}
          }
        }
      }  
    }
  }
  
//  PORTRAIT
@media screen and (orientation: portrait) {      
  @media screen and (max-width: 700px) {
    .hobbiesAccordianContainer {
      width: unset;
      z-index: 50;
  
      .HobbiesAccordianItem {  
        .hobbiesCard > [role = "img"] {
          height: 20vh;
        }   
        [role = "button"]  {
          min-height: unset;
          height: 5vh;
        }    
        .accordianItemContent {
          height: 8rem;
        }
      }
    }  
  }
}