.espylogo {
  width: 20rem;
  height: 22rem;
  position: absolute;
  bottom: 2rem;
  left: 0;
  svg {
    width: 15rem;
    height: 15rem;
    fill: white;
  }

  .nameContainer {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
  }
}
.navContainer {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-top: 1rem;
}



@media screen and (max-width: 1200px) {
  .espylogo {
    width: 12rem;
    height: 12rem;
    bottom: 1rem;
    left: 0;
    svg {
      width: 8rem;
      height: 8rem;
    }

    .nameContainer {
      margin-top: .5rem;
      h2 {
        font-size: 1.75rem;
      }
      h5 {
        font-size: .8rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .espylogo {
  width: 10rem;
  height: 10rem;
  bottom: 0;
  left: 0;
  svg {
    width: 5rem;
    height: 5rem;
  }

  .nameContainer {
    margin-top: .5rem;
    h2 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: .75rem;
    }
  }
  }
  .navContainer {
    bottom: 1rem;
    right: 1rem;
    h6 {
      font-size: 1rem;
    }
    a {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .espylogo {
    display: flex;
      align-items: center;
      justify-content: center;
    width: 8rem;
    height: 3rem;
    svg {
      width: 2rem;
      height: 2rem;
    }

  .nameContainer {
    margin-top: .1rem;
    h2 {
      font-size: 1rem;
    }
    h5 {
      font-size: .5rem;
    }
  }
}
.navContainer {
  width: 60vw;
  bottom: .5rem;
  right: .5rem;
  text-align: right;
  h6 {
    font-size: .8rem;
  }
  a {
    font-size: .8rem;
  }
}
}