@import '../../styles/main.scss';

.espylogo {
  width: 20rem;
  position: absolute;
  bottom: $space-7;
  left: $screen-margin;
  svg {
    width: 15rem;
    height: 15rem;
    fill: white;
  }

  .nameContainer {
    text-align: center;
    font-size: $font-xl;
    font-weight: bold;
    color: $white;
    margin-top: $space-6;
  }
}
.navContainer {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: $space-7;
  right: $screen-margin;
  text-align: right;
  font-size: $font-xl;
  font-weight: bold;
  color: $white;
  margin-top: $space-6;
}



@media screen and (max-width: 1900px) {
  .espylogo {
    width: 12rem;
    left: $screen-margin;
    svg {
      width: 8rem;
      height: 8rem;
    }

    .nameContainer {
      margin-top: $space-4;
      h2 {
        font-size: 1.75rem;
      }
      h5 {
        font-size: $font-sm;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .espylogo {
  width: 10rem;
  bottom: $space-6;
  svg {
    width: 5rem;
    height: 5rem;
  }

  .nameContainer {
    margin-top: $space-4;
    h2 {
      font-size: $font-xl;
    }
    h5 {
      font-size: .75rem;
    }
  }
  }
  .navContainer {
    bottom: $space-6;
    right: $space-6;
    h6 {
      font-size: $font-md;
    }
    a {
      font-size: $font-md;
    }
  }
}

@media screen and (max-width: 600px) {
  .espylogo {
    display: flex;
      align-items: center;
      justify-content: center;
    width: 8rem;
    svg {
      width: 2rem;
      height: 2rem;
    }

  .nameContainer {
    margin-top: $space-1;
    h2 {
      font-size: $font-md;
    }
    h5 {
      font-size: $font-xs;
    }
  }
}
.navContainer {
  width: 60vw;
  bottom: $space-4;
  right: $space-4;
  text-align: right;
  h6 {
    font-size: $font-sm;
  }
  a {
    font-size: $font-sm;
  }
}
}

@media screen and (orientation: landscape) {
  @media screen and (max-height: 930px) {
    .espylogo {
      display: flex;
        align-items: center;
        justify-content: center;
        width: 8rem;
        bottom:  $space-4;
        svg {
          width: 2rem;
          height: 2rem;
        }
    
      .nameContainer {
        margin-top: $space-1;
        h2 {
          font-size: $font-md;
        }
        h5 {
          font-size: $font-xs;
        }
      }
    }
    .navContainer {
      bottom: $space-4;
      right: $screen-margin;
      text-align: right;
      h6 {
        font-size: $font-sm;
      }
      a {
        font-size: $font-sm;
      }
    }
  }
}