@import '../../../../styles/main.scss';

.portfolioModal {
  position: fixed;
  height: $height-full;
  width: $width-full;
  text-align: left;
  font-size: $font-xl;
  background-color: $black-opacity-darkest;
  color: $white;
  padding: $space-6;
  @include fade-in($transition-slow);
  z-index: 20;

  img {
    width: $width-full;
  }
  .closeContainer {
    text-align: right;
    cursor: pointer;
  }

  .modalContent {
    position: relative;
    height: fit-content;
    width: 70vw;
    @include center-x-y;
  }
}

// LANDSCAPE
@media screen and (orientation: landscape) {
  @media screen and (max-height: 895px) {  
    .portfolioModal {
      .modalContent {
        height: 90vh;
        width: 80vw;
        overflow-y: scroll;
      }
    }
  }
}

// PORTRAIT
@media screen and (orientation: portrait) {
  @media screen and (max-width: 600px) {
    .portfolioModal {
      .modalContent {
        height: 90vh;
        width: 80vw;
        overflow-y: scroll;
      }
    }
  }
}
