@import '../../styles/main.scss';

.portfolioContainer {
  @include hero-background('../../images/backgrounds/code.jpg');
  @include fade-in($transition-fast);
  @include scrollbar;

  .portfolioBackgroundFilter {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: .7;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 5%, rgba(9,9,121,1) 65%, rgba(0,212,255,1) 100%);
  }

  .portfolioSidebar {
    position: absolute;
    top: 4vh;
    left: $screen-margin;
    transform: rotate(-5deg) skew(-5deg);
    width: 13vw;
    border-radius: 15px;

    .techStack {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px;   
      color: white;
      transform: rotate(-5deg) skew(-5deg);
      width: 100%;
      border-radius: 15px;

      & h3, h5, p {
        transform: skew(5deg)
      }
      & h3 {
        font-size: 2rem;
      }
    }

    .resumeLink {
      background-image: linear-gradient(240deg, #44eed4, #19a2ec);
      margin-top: 1rem;
      padding: 10px;    
      transform: rotate(-5deg) skew(-5deg);
      width: 100%;
      border-radius: 15px;

      & h5, a {
        transform: skew(5deg);
        text-align: center;
        width: 100%;
      }

      & a {
        display: flex;
        text-decoration: none;
        color: black;
      }
    }
  }

  .portfolioMosaic {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 70vw;
    height: 75vh;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 15px;
    
    & > ul  {
      height: 100%;
      overflow: hidden;
    }
  
    & > ul > li {
      position: relative;
      color: white;
      max-height: 28vh;
  
      p {
        font-size: 1rem;
      }
      
      img {
        border-radius: 15px;
        width: 98%;
        padding: 5px;
      }
  
      &:hover > .mosaicText {
        display: block;
        @include fade-in($transition-slow);
      }      

      .mosaicText {
        overflow-y: scroll;
        text-align: left;
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.7);    
        color: white;
        padding: 1rem;
        border-radius: 5px;

        .portfolioLinks {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  @include scrollbar;
}

// LANDSCAPE
@media screen and (orientation: landscape) {
  @media screen and (max-width: 1500px) {
    .portfolioMosaic > ul > li {
      max-height: 28vh;
  
      p {
        font-size: 1rem;
      }
      
    }
  }

  @media screen and (max-width: 1450px){
    .portfolioSidebar {
      min-width: 15vw;
    }
  }

  @media screen and (max-height: 895px) {
    .portfolioContainer {
      .portfolioSidebar {    
      .techStack {
        .techStackSection {
          & h5 {
            font-size: 1.2rem;
          }

          & p {
            font-size: .8rem;
          }
        }
      }
    
      .resumeLink {
        & h5 {
          font-size: 1.2rem;
        }

      }
      }
    }      
  }

  @media screen and (max-height: 430px) {  
    .portfolioContainer {
      .portfolioSidebar {
        .techStack {
          display: none;
        }
      } 
    
      .portfolioMosaic > ul > li {
        max-height: 20vh !important;
    
        p {
          font-size: 1rem;
        }        
      } 
        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: .7rem;
        }
    }   
  }

  @media screen and (max-height: 430px) {
    .portfolioContainer {
    }      
  }
}

// PORTRAIT
@media screen and (orientation: portrait) {
  @media screen and (max-width:1100px) {
    .portfolioContainer {
      .portfolioSidebar {
        top: 13%;
        left: 50%;
        min-width: 92vw;
        transform: rotate(5deg) translate(-50%, -50%);
    
        .techStack {
          .techStackSection {
            display: flex;
            padding: 2px 10px;
            text-align: left;

            & h5 {
              margin-right: 2rem;
            }
          }
        }
      
        .resumeLink {
          position: absolute;
          top: 8vh;
          right: $screen-margin;
          width: 25vw;

          & h5 {
            font-size: 1.2rem;
          }
        }  
      } 
      .portfolioMosaic {   
        top: 47%;
        width: 95vw;
        height: 47dvh;
        left: 50vw;
        & ul > li {
          height: 90% !important;
        }
      }  
    }
  }

  @media screen and (max-width: 800px) {
    .portfolioContainer {
      .portfolioSidebar {
        top: 13%;
        left: 50vw;
        min-width: 95vw;
        transform: none;
        transform: translate(-50%, -50%);
    
        .techStack {
          transform: none;
          .techStackSection {
            display: flex;
            padding: 2px 10px;
            text-align: left;
            
            & h5 {
              margin-right: 2rem;
            }

            & h5, p {
              transform: none;
            }
          }
        }
      
        .resumeLink {
          position: absolute;
          top: 12vh;
          right: $screen-margin;
          width: 25vw;
          transform: none;
          padding: 5px;

          & h5 {
            transform: none;
            font-size: 1.2rem;
          }
        }  
      } 
      .portfolioMosaic {   
        top: 55%;
        width: 95vw;
        height: 52vh;
        left: 50vw;
        & ul > li {
          height: 90% !important;
        }
      }  
    }
  }

  @media screen and (max-width: 600px) {    
    .portfolioContainer {
      overflow-y: scroll;
      .portfolioSidebar {
        top: 0rem;
        right: 0px;
        left: 0px;
        min-width: unset;
        width: 100vw;
        transform: rotate(5deg) skew(5deg);
    
      .techStack {
        display: none;
      }
    
      .resumeLink {
        top: 10px;
        right: unset;
        left: 50%;
        width: 80vw;
        border: black 1px solid;
        box-shadow: 2px 2px 2px black;
        transform: translate(-50%) rotate(-5deg) skew(-5deg);;

        & h5 {
        transform: skew(-5deg);
        }
      }
    }
      .portfolioMosaic {
        top: 50vh;
        height: 70vh;
        & > ul {
        grid-template-columns: 90vw !important; 
        gap: 10vh !important;    
        } 
        & > ul > li{
          grid-column-end: span 1 !important; 
          max-height: 35vh;    
        } 
      }
    }      
  }
}