@import '../../styles/main.scss';


.portfolioItemContent {
  // overflow-y: scroll;
  height: fit-content;
  margin-bottom: 5vh;

.portfolioModalCardHero {
  height: 50vh;
  width: 50%;
  display: block;
  margin: auto;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  -webkit-background-position: center;
  background-repeat: no-repeat;
  }
}

.portfolioContainer {
  @include hero-background('../../images/backgrounds/code.jpg');
  @include fade-in($transition-fast);
  @include scrollbar;

  .portfolioBackgroundFilter {
    position: fixed;
    width: $width-full;
    height: $height-full;
    opacity: .7;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 5%, rgba(9,9,121,1) 65%, rgba(0,212,255,1) 100%);
  }

  .portfolioSidebar {
    position: absolute;
    top: 4vh;
    left: $screen-margin;
    width: 13vw;
    border-radius: $radius-large;
    @include rotate-skew;

    .techStack {
      background-color:  $black-opacity-medium;
      padding: $space-5;   
      color: $white;
      @include rotate-skew;
      width: $width-full;
      border-radius: $radius-large;

      & h3, h5, p {
        transform: skew(5deg)
      }
      & h3 {
        font-size: $font-2xl;
      }
    }

    .resumeLink {
      background-image: linear-gradient(240deg, #44eed4, #19a2ec);
      margin-top: $space-6;
      padding: $space-5;  
      @include rotate-skew;
      width: $width-full;
      border-radius: $radius-large;

      & h5, a {
        transform: skew(5deg);
        text-align: center;
        width: $width-full;
      }

      & a {
        display: flex;
        text-decoration: none;
        color: $black;
      }
    }
  }

  .portfolioMosaic {
    position: absolute;
    background-color: $black-opacity-dark;
    width: 70vw;
    height: 75vh;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: $space-6;
    border-radius: $radius-large;
    
    & > ul  {
      height: $height-full;
      overflow: hidden;
    }
  
    & > ul > li {
      position: relative;
      color: $white;
      max-height: 28vh;
  
      p {
        font-size: $font-md;
      }
      
      img {
        border-radius: $radius-large;
        width: 98%;
        padding: $space-3;
      }
  
      &:hover > .mosaicText {
        display: block;
        @include fade-in($transition-slow);
      }      

      .mosaicText {
        position: relative;
        overflow-y: scroll;
        text-align: left;
        display: none;
        position: absolute;
        top: 0;
        width: 95%;
        height: 90%;
        background-color: $black-opacity-medium;
        color: $white;
        padding: $space-6;
        border-radius: $radius-small;

        .openPortfolioModal {
          position: absolute;
          right: $space-6;
          cursor: pointer;
        }

        .portfolioItemContent {
          overflow-y: hidden;

          .portfolioModalCardHero {
            display: none;
            
          }
        }

        .portfolioLinks {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  @include scrollbar;
}

// LANDSCAPE
@media screen and (orientation: landscape) {
  @media screen and (max-width: 1500px) {
    .portfolioMosaic > ul > li {
      max-height: 28vh;
  
      p {
        font-size: $font-md;
      }
      
    }
  }

  @media screen and (max-width: 1450px){
    .portfolioSidebar {
      min-width: 15vw;
    }
  }

  @media screen and (max-height: 895px) {
    .portfolioContainer {
      .portfolioSidebar {  
        width: 15vw;

      .techStack {
        & h3 {
          font-size: $font-xl;
        }
        .techStackSection {
          & h5 {
            font-size: $font-md;
            font-weight: bolder;
          }

          & p {
            font-size: $font-sm;
          }
        }
      }
    
      .resumeLink {
        & h5 {
          font-size: $font-lg;
        }

      }
      }
    }      
  }

  @media screen and (max-height: 430px) {  
    .portfolioContainer {
      .portfolioSidebar {
        .techStack {
          display: none;
        }
      } 
    
      .portfolioMosaic > ul > li {
        max-height: 20vh !important;
    
        p {
          font-size: $font-md;
        }        
      } 
        h2 {
          font-size: $font-3xl;
        }

        p {
          font-size: .7rem;
        }
    }   
  }
}

// PORTRAIT
@media screen and (orientation: portrait) {
  .portfolioItemContent {  
    .portfolioModalCardHero {
      height: 20vh;
      width: 100%;
    }
  }

  // .portfolioContainer {
  //   .portfolioSidebar {      
  //     // .resumeLink {
  //     //   @include unrotate-unskew;
  //     //   position: absolute;
  //     //   top: $space-1;
  //     //   top: 13%;
  //     //   left: 50vw;
  //     //   min-width: 95vw;

  //     //   & a > h5 {
  //     //     font-size: $font-3xl;
  //     //   }
  //     // }  
  //   } 
  //   .portfolioMosaic {   
  //     top: 40%;
  //     width: 95vw;
  //     height: 47dvh;
  //     & ul > li {
  //       height: 90% !important;
  //     }
  //   }  
  // }

  @media screen and (max-width:1100px) {
    .portfolioContainer {
      .portfolioSidebar {
        top: 13%;
        left: 50%;
        min-width: 92vw;
        transform: rotate(5deg) translate(-50%, -50%);
    
        .techStack {
          .techStackSection {
            display: flex;
            padding:  $space-1 $space-5;
            text-align: left;

            & h5 {
              margin-right: $space-7;
            }
          }
        }
      
        .resumeLink {
          position: absolute;
          top: 8vh;
          right: $screen-margin;
          width: 25vw;

          & h5 {
            font-size: $font-lg;
          }
        }  
      } 
      .portfolioMosaic {   
        top: 47%;
        width: 95vw;
        height: 47dvh;
        left: 50vw;
        & ul > li {
          height: 90% !important;
        }
      }  
    }
  }

  @media screen and (max-width: 800px) {
    .portfolioContainer {
      .portfolioSidebar {
        width: $width-full;  
        left: 50%;
        transform: translate(-50%,-50% );
    
        .techStack {
          transform: none;
          .techStackSection {
            display: flex;
            padding:  $space-1 $space-5;
            text-align: left;
            
            & h5 {
              margin-right: $space-7;
            }

            & h5, p {
              transform: none;
            }
          }
        }
      
        .resumeLink {
          position: absolute;
          top: 10vh;
          right: $screen-margin;
          width: fit-content;
          transform: none;
          padding: $space-4;
          border-radius: $radius-small;

          & h5 {
            transform: none;
            font-size: $font-lg;
          }
        }  
      } 
      .portfolioMosaic {   
        top: 55%;
        width: 95vw;
        height: 52vh;
        left: 50vw;
        & ul > li {
          height: 90% !important;
        }
      }  
    }
  }

  @media screen and (max-width: 700px) {
    .portfolioContainer {
      .portfolioSidebar {
        .resumeLink {
          width: 17vw;
          top: 11vh;
          right: 2vw;
        }  
      } 
    }
  }

  @media screen and (max-width: 600px) {    
    .portfolioContainer {
      overflow-y: scroll;
      .portfolioSidebar {
        top: $space-0;
        right: $space-0;
        left: $space-0;
        min-width: unset;
        width: $width-full;
        @include unrotate-unskew;
    
      .techStack {
        display: none;
      }
    
      .resumeLink {
        top: $space-5;
        right: unset;
        left: 50%;
        width: 80vw;
        border: black 1px solid;
        box-shadow: 2px 2px 2px black;
        transform: translate(-50%) rotate(-5deg) skew(-5deg);;

        & h5 {
        transform: skew(-5deg);
        }
      }
    }
      .portfolioMosaic {
        top: 50vh;
        height: 70vh;
        & > ul {
        grid-template-columns: 90vw !important; 
        gap: 10vh !important;    
        overflow: scroll;
        } 
        & > ul > li{
          grid-column-end: span 1 !important; 
          max-height: 35vh;    
        } 
      }
    }      
  }
}